@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}

.subject_div > *{
    background-color: black;
    color: white;
    padding: 10px;
}

.body_div{    
    width: 1250;
    height: 500%;
    margin: 0 auto
}

.content_div{
    margin: 10px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

.detail_btn{
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    background: gray;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}


.detail_btn:hover{
    background: black;
    color: gray;
    border: 1px solid black;
    transition: 0.3s;
}