@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'ELAND_Choice_M';
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body_div {
    text-align: center;
    width: 1250;
    height: 500%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
}

.topbar_div {
    font-family: 'Gowun Dodum', sans-serif;
}

.topbar_ul {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    align-items: center;
}

.topbar_div_left {
    display: flex;
    flex: 1;
    margin: 0;
    align-items: center;
}

.topbar_div_left > * {
    margin: 0 10px;
}

.topbar_div_center {
    flex: 1;
}

.topbar_div_right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.topbar_div_right > * {
    margin: 5px;
}

a {
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.anime {
    padding-left: 150px;
    padding-top: 30px;
}

.anime_list {
    display: flex;
    justify-content: center;
}

.anime_img {
    display: flex;
    float: left;
}

.img_p {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.footer_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-top: 1px solid gray;
}

.footer_p {
    margin: 0 5px;
}

.footer_div_left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer_div_left > * {
    padding: 10px;
}

.footer_div_center {
    flex: 1;
}

.footer_div_right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer_div_right > * {
    padding: 5px;
}

.footer_icon_img {
    display: flex;
    float: left;
    width: 30px;
}

.nav_title {
    width: 50px;
}

.search_box {
    height: 30px;
}

.search_box > * {
    width: 180px;
}

.search_img {
    width: 25px;
}

.alarm_img {
    width: 25px;
}

.chatting_img {
    width: 25px;
}

.profile_img {
    width: 25px;
}

.Kobayashi_img, .Saiki_img, .Monster_img, .Jahy_img, .Revengers_img {
    width: 230px;
    padding-top: 30px;
    margin: 15px;
}

.game {
    padding-left: 150px;
    padding-top: 30px;
    border-top: 1px solid gray;
}

.game_list {
    display: flex;
    justify-content: center;
}

.game_img {
    display: flex;
    text-align: center;
    float: left;
    padding: 30px;
    padding-left: 40px;
}

.Ensemble_img, .Promise_img, .Overwatch_img, .League_img, .Genshin_img {
    width: 230px;
    margin: 15px;
}

.movie {
    padding-left: 150px;
    padding-top: 30px;
    border-top: 1px solid gray;
}

.movie_list {
    display: flex;
    justify-content: center;
}

.movie_img {
    display: flex;
    text-align: center;
    float: left;
    padding: 30px;
    padding-left: 40px;
}

.Weather_img, .Name_img, .Stranger_img, .Ghibli_img, .Disney_img {
    width: 230px;
    margin: 15px;
}
