@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'ELAND_Choice_M';
}

@font-face {
    font-family: 'ELAND_Choice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.body_div {
    width: 1250;
    height: 500%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    padding-right: 50px;
}

.logo {
    position: relative;
}

.logo:hover {
    cursor: pointer;
}

.topbar_div {
    font-family: 'Gowun Dodum', sans-serif;
}

.topbar_ul {
    display: flex;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    align-items: center;
}

a {
    margin: 0px;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.footer_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-top: 1px solid gray;
}

.footer_p {
    margin: 0 5px;
}

.footer_div_left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer_div_left > * {
    padding: 10px;
}

.footer_div_center {
    flex: 1;
}

.footer_div_right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer_div_right > * {
    padding: 5px;
}

.footer_icon_img {
    display: flex;
    float: left;
    width: 30px;
}

.topbar_title {
    width: 50px;
}

.search_box {
    height: 30px;
}

.search_box > * {
    width: 180px;
}

.search_img, .alarm_img, .chatting_img, .profile_img {
    width: 25px;
}

.topbar_div_left {
    display: flex;
    flex: 1;
    margin: 0;
    align-items: center;
}

.topbar_div_left > * {
    margin: 0 10px;
}

.topbar_div_center {
    flex: 1;
}

.topbar_div_right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}

.topbar_div_right > * {
    margin: 5px;
}

.acrylic {
    padding-left: 50px;
    padding-top: 30px;
}

.acrylic_list {
    display: flex;
    justify-content: center;
}

.acrylic_img {
    display: flex;
    text-align: center;
    float: left;
    padding: 30px;
    padding-left: 10px;
}

.acrylic_1_img, .acrylic_2_img, .acrylic_3_img, .acrylic_4_img, .acrylic_5_img {
    width: 228px;
    margin: 15px;
}

.keyring {
    padding-left: 50px;
    padding-top: 30px;
    border-top: 1px solid gray;
}

.kyering_list {
    display: flex;
    justify-content: center;
}

.keyring_img {
    display: flex;
    text-align: center;
    padding: 30px;
    padding-left: 40px;
}

.kyering_1_img, .kyering_2_img, .kyering_3_img, .kyering_4_img, .kyering_5_img {
    width: 230px;
    margin: 15px;
}

.figure {
    padding-left: 50px;
    padding-top: 30px;
}

.figure_list {
    display: flex;
    justify-content: center;
}

.figure_img {
    display: flex;
    text-align: center;
    float: left;
    padding: 30px;
    padding-left: 40px;
}

.figure_1_img, .figure_2_img, .figure_3_img, .figure_4_img, .figure_5_img {
    width: 230px;
    margin: 15px;
}

.figure{
    border-top: 1px solid black;
}